{% extends 'godownheader.html' %}
{% block content %}
{% load static %}

          <div class="card shadow mb-4">
            <div class="card-header py-3">

            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Car Name</th>
                      <th>Owner Name</th>
                      <th>Numberplate</th>
                      <th>Godown</th>
                      <th>Action</th>
                    </tr>
                  </thead>
  {% for t in a %}

                  <tbody>
                    <tr>
                      <td>{{t.carID}}</td>
                      <td>{{t.customerID}}</td>
                      <td>{{t.cdNumberplate}}</td>
                      <td>{{t.cdGodown}}</td>
                      <td><a href="verifycustomer?cdID={{t.cdID}}">View</a> </td>
  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
{% endblock %}