{% extends 'header.html' %}
{% block content %}
{% load static %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Area Details</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <a href="addArea" class="btn btn-primary">Add Area</a><br><br>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Pincode</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% for t in area %}

                <tbody>
                <tr>
                    <td>{{t.areaName}}</td>
                    <td>{{t.pincode}}</td>
                    <td>{{t.cityID}}</td>
                    <td>
                        <a href="updateArea?areaID={{t.areaID}}">
                            <img src="{% static '../static/icons/update.png' %}" height="30px" width="30px" alt=""></a>
                        <a href="deleteArea?areaID={{t.areaID}}">
                            <img src="{% static '../static/icons/delete.png' %}" height="30px" width="30px" alt="">
                        </a>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>
<!-- /.container-fluid -->

</div>

{% endblock %}