{% extends 'header.html' %}
{% block content %}
{% load static %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Car Details</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <a href="addCar" class="btn btn-primary">Add Car</a><br><br>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Type</th>
                    <th>Capacity</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% for t in cs %}

                <tbody>
                <tr>
                    <td><a href="cardetails?carID={{t.carID}}" title="click to view">{{t.carName}}</a></td>
                    <td>{{t.carCompany}}</td>
                    <td>{{t.carType}}</td>
                    <td>{{t.carCapacity}}</td>
                    <td><img src="{{t.carPic.url}}" height="60px" width="60px" alt="">
                    </td>
                    <td>
                        <a href="updateCar?carID={{t.carID}}">
                            <img src="{% static '../static/icons/update.png' %}" height="30px" width="30px" alt=""></a>
                        <a href="deleteCar?carID={{t.carID}}">
                            <img src="{% static '../static/icons/delete.png' %}" height="30px" width="30px" alt="">
                        </a>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>
<!-- /.container-fluid -->

</div>

{% endblock %}