{% extends 'header.html' %}
{% block content %}
{% load static %}

          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Customer details</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

  {% for t in cd%}

                  <tbody>
                  <tr>
                      <td><img src="{% static '../static/drimages/' %}{{t.driverPic}}" height="80px" width="110px" alt="" ></td>
                  </tr>
                    <tr>
                      <td>User Name</td>
                      <td>{{t.driverUname}}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{t.driverFname}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{t.driverLname}}</td>
                    </tr>
                    <tr>
                        <td>Date OF Birth</td>
                        <td>{{t.driverDOB}}</td>
                    </tr>
                    <tr>
                        <td>Is Owner</td>
                        <td>{{t.driverIsOwner}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{t.driverAddress}}, {{area}}, {{city}}</td>
                    </tr>
                    <tr>
                        <td>Contact No.</td>
                        <td>{{t.driverCno}}</td>
                    </tr>
                    <tr>
                        <td>Email ID</td>
                        <td>{{t.driverEmail}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{t.driverGender}}</td>
                    </tr>
                    <tr>
                        <td>Fair</td>
                        <td>{{t.driverFPH}}</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>{{t.driverRating}}</td>
                    </tr>
                    <tr>
                        <td>Licence</td>
                        <td>{{t.driverLicence}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
{% endblock %}