{% extends 'header.html' %}
{% block content %}
{% load static %}

          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Customer details</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

  {% for t in cd%}

                  <tbody>
                  <tr>
                      <td><img src="{% static '../static/cstimages/' %}{{t.customerPic}}" height="80px" width="110px" alt="" ></td>
                  </tr>
                    <tr>
                      <td>User Name</td>
                      <td>{{t.customerUname}}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{t.customerFname}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{t.customerLname}}</td>
                    </tr>
                    <tr>
                        <td>Date OF Birth</td>
                        <td>{{t.customerDOB}}</td>
                    </tr>
                    <tr>
                        <td>Is Owner</td>
                        <td>{{t.customerIsOwner}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{t.customerAddress}}, {{area}}, {{city}}</td>
                    </tr>
                    <tr>
                        <td>Contact No.</td>
                        <td>{{t.customerCno}}</td>
                    </tr>
                    <tr>
                        <td>Email ID</td>
                        <td>{{t.customerEmail}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{t.customerGender}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
{% endblock %}