{% extends 'header.html' %}
{% block content %}
{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>

                        <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% for i in img %}
                            <tr>
                                <td><img src="{{i.adminPic.url}}" height="130px" width="130px" alt="" ></td>
                            </tr>
                            {% endfor %}
                            {{form.as_table}}
                            <tr>
                                <td><input type="submit" value="Update" class="btn btn-success"></td>
                            </tr>

                        </form>
                    </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--          <div class="card shadow mb-4">-->
<!--              <div class="card-header py-3">-->
<!--              <h6 class="m-0 font-weight-bold text-primary">Profile</h6>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <div class="table-responsive">-->
<!--                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">-->
<!--  {% for t in pr%}-->
<!--                  <tbody>-->
<!--                  <tr>-->
<!--                      <td><img src="{% static '../static/adminimages/' %}{{t.adminPic}}" height="130px" width="130px" alt="" ></td>-->
<!--                  </tr>-->
<!--                    <tr>-->
<!--                        <td>User Name</td>-->
<!--                        <td>-->
<!--                            <input type="text" class="form-control form-control-user" name="txtuname" value="{{t.adminUname}}">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>First Name</td>-->
<!--                        <td>-->
<!--                            <input type="text" class="form-control form-control-user" name="txtfname" value="{{t.adminFname}}">-->
<!--                        </td>-->

<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Last Name</td>-->
<!--                        <td>-->
<!--                            <input type="text" class="form-control form-control-user" name="txtlname" value="{{t.adminLname}}">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Password</td>-->
<!--                        <td>-->
<!--                            <input type="text" class="form-control form-control-user" name="txtpass" value="{{t.adminPass}}">-->
<!--                        </td>-->

<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Contact Detail</td>-->

<!--                        <td>-->
<!--                            <input type="text" class="form-control form-control-user" name="txtcno" id="txtcno" value="{{t.adminCno}}">-->
<!--                            <h1 id="lblError"></h1>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Email</td>-->
<!--                        <td>-->
<!--                            <input type="email" class="form-control form-control-user" name="txtemail" value="{{t.adminEmail}}">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Date Of Birth</td>-->
<!--                        <td>-->
<!--                            <input type="text" class="form-control form-control-user" value="{{t.adminDOB|date:'Y-m-d' }}" id="txtDate" name="dob">-->

<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Gender</td>-->
<!--                        <td>{{t.adminGender}}<br>-->
<!--                          <input type="radio" value="male" name="gender" checked>&nbsp;male &nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                          <input type="radio" value="female" name="gender">&nbsp;female-->
<!--                        </a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                        <input type="submit" value="Update" class="btn btn-success" onclick="return ValidateDOB()   ">-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                    {% endfor %}-->

<!--                  </tbody>-->
<!--                </table>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--        &lt;!&ndash; /.container-fluid &ndash;&gt;-->

<!--      </div>-->

<!--    </form>-->

<!--    <script type="text/javascript">-->
<!--        function ValidateDOB()-->
<!--        {-->
<!--            var lblError = document.getElementById("lblError");-->
<!--            var dob = document.getElementById("txtDate").value;-->
<!--            var pattern =/^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;-->
<!--            var cno = document.getElementById("txtcno")-->
<!--            if(cno==""){-->
<!--                lblError.innerHTML = "not valid";-->
<!--                return false;-->
<!--            }-->
<!--            if(!pattern.test(dob)){-->
<!--                lblError.innerHTML = "not valid";-->
<!--                return false;-->
<!--            }-->
<!--            else {-->
<!--                return true;-->
<!--            }-->
<!--        }-->
<!--    </script>-->
