{% extends 'customerheader.html' %}
{% block content %}
{% load static %}

<div class="card shadow mb-4">
            <div class="card-header py-3">

            </div>
    <form method="post" action="">
        {% csrf_token %}
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Car Name</th>
                      <th>Car Number</th>
                      <th>Godown</th>
                      <th>Action</th>
                    </tr>
                  </thead>
{% for t in a %}
                  <tbody>
                    <tr>
                      <td>{{t.carID}}</td>
                      <td>{{t.cdNumberplate}}</td>
                      <td>{{t.cdGodown}}</td>
                      <td><a href="cstrevert?cdID={{t.cdID}}" class="btn btn-info btn-icon-split">Revert</a></td>
                    </tr>

                  </tbody>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
</form>
</div>
{% endblock %}