{% extends 'customerheader.html' %}
{% block content %}
{% load static %}
<div class="card shadow mb-4">
    <form method="post" action="">
        {% csrf_token %}

            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Cars</h6>
              <a href="carsort">low-to-high</a>
            </div>

            <div class="card-body">
              <label>
                  <input type="search" class="form-control form-control-user" placeholder="search here..." aria-controls="dataTable">
              </label>
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Car Name</th>
                      <th>Owner Name</th>
                      <th>Fair /hr</th>
                      <th>Action</th>
                    </tr>
                  </thead>
{% for t in car %}
                  <tbody>
                    <tr>
                      <td>{{t.carID}}</td>
                      <td>{{t.customerID}}</td>
                      <td>₹ {{t.cdFPH}}/hour</td>
                      <td><a href="bookcar?cdID={{t.cdID}}" class="btn btn-success">Book</a> </td>
                    </tr>
{% endfor %}
                  </tbody>

                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
</form>
</div>
{% endblock %}