{% extends 'driverheader.html' %}
{% block content %}
{% load static %}
<div class="card shadow mb-4">

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Car Name</th>
                      <th>Fair</th>
                      <th>Number Plate</th>
                      <th>Action</th>
                      </tr>
                  </thead>
{% for t in a %}
                  <tbody>
                    <tr>
                      <td>{{t.carID}}</td>
                      <td>{{t.cabFPKm}}</td>
                      <td>{{t.cabNumberplate}}</td>
                      <td></td>
                    </tr>

                  </tbody>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
</div>
{% endblock %}